autom4te.cache/
src/.deps/
src/.libs/
libltdl/
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.h.in\~
config.log
config.status
configure
libtool
src/Makefile
src/Makefile.in
src/*.la
src/*.lo
src/*.o
stamp-h1
